# Dognition Data Analysis

Dognition is a website for dog owners and log lovers around the world to learn more about their dogs. It consists of different games that owner and their dogs can go through together and get a finalized report at the end. 
   
I will find out how "Features of Dogs" that could potentially influence the number of tests the dogs will ultimately complete.

To begin, load the sql library and database, and make the Dognition database your default database:

In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/dognitiondb
%sql USE dognitiondb

 * mysql://studentuser:***@localhost/dognitiondb
0 rows affected.

[]

## 1. Assess whether Dognition personality dimensions are related to the number of tests completed 

The first variable I want to investigate is Dognition personality dimensions. Dognition personality dimensions represent distinct combinations of characteristics assessed by the Dognition tests.  It is certainly plausible that certain personalities of dogs might be more or less likely to complete tests.  For example, "einstein" dogs might be particularly likely to complete a lot of tests.  

To test the relationship between Dognition personality dimensions and test completion totals, we need a query that will output a summary of the number of tests completed by dogs that have each of the Dognition personality dimensions.  The features you will need to include in your query are foreshadowed by key words in this sentence.  First, the fact that you need a summary of the number of tests completed suggests you will need an aggregation function.  Next, you want a different summary for each personality dimension.  Third, you need a "summary of the number of tests completed".

Let's build the query step by step.

**First let's what kind of values exist in the Dognition personality dimension column**

In [2]:
%%sql
SELECT DISTINCT dimension
FROM dogs;

 * mysql://studentuser:***@localhost/dognitiondb
11 rows affected.

[('charmer',),
 ('protodog',),
 (None,),
 ('einstein',),
 ('stargazer',),
 ('maverick',),
 ('socialite',),
 ('ace',),
 ('expert',),
 ('renaissance-dog',),
 ('',)]

The results of the query above illustrate there are NULL values (indicated by the output value "none") in the dimension column.  Keep that in mind in case it is relevant to future queries.  

We want a summary of the total number of tests completed by dogs with each personality dimension.  In order to calculate those summaries, we first need to calculate the total number of tests completed by each dog.  We can achieve this using a subquery.  The subquery will require data from both the dogs and the complete_tests table, so the subquery will need to include a join.  We are only interested in dogs who have completed tests, so an inner join is appropriate in this case.

**Find the Dognition personality dimension and total number of tests completed by each unique DogID.**

In [3]:
%%sql
SELECT DISTINCT d.dog_guid, d.dimension, count(c.created_at)
FROM dogs d, complete_tests c
WHERE d.dog_guid =  c.dog_guid
GROUP BY d.dog_guid
LIMIT 200;

 * mysql://studentuser:***@localhost/dognitiondb
200 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'maverick', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 21),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 28),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', 'maverick', 28),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'socialite', 25),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'socialite', 23),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', 'maverick', 45),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 33),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'protodog', 22),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'maverick', 25),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f732-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f868-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f9a8-7144-11e5-ba71-058fbc01cf0b', None, 3),
 ('fd28010a-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd280236-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd280344-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd280826-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd2808b2-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd28093e-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd2809c0-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3ccd24-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3ccf2c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 22),
 ('fd3cd40e-7144-11e5-ba71-058fbc01cf0b', None, 10),
 ('fd3cd4d6-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3cd8d2-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 20),
 ('fd3cec50-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cf5c4-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cf678-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3cf718-7144-11e5-ba71-058fbc01cf0b', None, 17),
 ('fd3cf8ee-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3cf984-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cfa1a-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cfab0-7144-11e5-ba71-058fbc01cf0b', 'charmer', 38),
 ('fd3cfcfe-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3cfd94-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3cfe2a-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3cfeb6-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3cff4c-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd3d0078-7144-11e5-ba71-058fbc01cf0b', None, 10),
 ('fd3d01ae-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d03fc-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0492-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd3d05be-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d064a-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d06e0-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d0776-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd3d080c-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0898-7144-11e5-ba71-058fbc01cf0b', 'socialite', 45),
 ('fd3d0938-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d09ce-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd3d0b7c-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3d0c12-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0cb2-7144-11e5-ba71-058fbc01cf0b', None, 5),
 ('fd3d0d48-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d0dde-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd3d0f00-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d0f96-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d102c-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d10cc-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd3d1162-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3d1202-7144-11e5-ba71-058fbc01cf0b', 'ace', 19),
 ('fd3d12fc-7144-11e5-ba71-058fbc01cf0b', None, 3),
 ('fd3d150e-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd3d15f4-7144-11e5-ba71-058fbc01cf0b', None, 1),
 ('fd3d17c0-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d18a6-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d1982-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd3d1a5e-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d1b44-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd3d1d06-7144-11e5-ba71-058fbc01cf0b', None, 15),
 ('fd3d2080-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d2116-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d224c-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d22d8-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d2530-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3d265c-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 34),
 ('fd3d26f2-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d2788-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 20),
 ('fd3d281e-7144-11e5-ba71-058fbc01cf0b', 'socialite', 25),
 ('fd3d28aa-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd3d2940-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d29d6-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd3d2a6c-7144-11e5-ba71-058fbc01cf0b', None, 9),
 ('fd3d2af8-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d2c24-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d2d46-7144-11e5-ba71-058fbc01cf0b', None, 18),
 ('fd3d2ddc-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd3d2e72-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d2f08-7144-11e5-ba71-058fbc01cf0b', None, 1),
 ('fd3d2f9e-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d30c0-7144-11e5-ba71-058fbc01cf0b', 'protodog', 23),
 ('fd3d3156-7144-11e5-ba71-058fbc01cf0b', 'ace', 36),
 ('fd3d3278-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d330e-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3d33a4-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3d343a-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd3d34d0-7144-11e5-ba71-058fbc01cf0b', 'charmer', 37),
 ('fd3d35f2-7144-11e5-ba71-058fbc01cf0b', 'expert', 31),
 ('fd3d3688-7144-11e5-ba71-058fbc01cf0b', 'ace', 34),
 ('fd3d371e-7144-11e5-ba71-058fbc01cf0b', None, 17),
 ('fd3d37b4-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d3840-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3d38d6-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d396c-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd3d39f8-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d3a8e-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d3b24-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d3bb0-7144-11e5-ba71-058fbc01cf0b', None, 13),
 ('fd3d3c46-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd3d3ffc-7144-11e5-ba71-058fbc01cf0b', None, 13),
 ('fd3d4092-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d4128-7144-11e5-ba71-058fbc01cf0b', 'socialite', 31),
 ('fd3d424a-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d42ea-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d4376-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d440c-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3d44a2-7144-11e5-ba71-058fbc01cf0b', 'maverick', 23),
 ('fd3d452e-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d45ce-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d4664-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3d46fa-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d479a-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d4830-7144-11e5-ba71-058fbc01cf0b', 'maverick', 20),
 ('fd3d48c6-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d4952-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d4a6a-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd3d4b00-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d4b8c-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d4f74-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d515e-7144-11e5-ba71-058fbc01cf0b', 'maverick', 20),
 ('fd3d51f4-7144-11e5-ba71-058fbc01cf0b', 'maverick', 20),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d587a-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 22),
 ('fd3d5a1e-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d5aa0-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3f81ea-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3f83d4-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3f8514-7144-11e5-ba71-058fbc01cf0b', 'expert', 23),
 ('fd3f8aa0-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 23),
 ('fd3f8bcc-7144-11e5-ba71-058fbc01cf0b', None, 15),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 25),
 ('fd3f9c2a-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3fa0b2-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3fb00c-7144-11e5-ba71-058fbc01cf0b', None, 18),
 ('fd3fb0f2-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd3fb5e8-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3fb76e-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd3fb8fe-7144-11e5-ba71-058fbc01cf0b', None, 1),
 ('fd3fb9c6-7144-11e5-ba71-058fbc01cf0b', 'socialite', 45),
 ('fd3fbc00-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3fbd7c-7144-11e5-ba71-058fbc01cf0b', None, 19),
 ('fd3fbe44-7144-11e5-ba71-058fbc01cf0b', 'protodog', 40),
 ('fd3fbf0c-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd3fbfe8-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3fc0ce-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd3fc1be-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3fc628-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd3fc704-7144-11e5-ba71-058fbc01cf0b', None, 2)]

Now we need to summarize the total number of tests completed by each unique DogID within each Dognition personality dimension.

**Find the average number of tests completed by unique dogs in each Dognition personality dimension**

In [4]:
%%sql
SELECT organized_test_no.dimension, AVG(organized_test_no.NoTest) AS AVGNoTest
FROM (SELECT DISTINCT d.dog_guid, d.dimension, count(c.created_at) AS NoTest
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
GROUP BY d.dog_guid) AS organized_test_no
GROUP BY organized_test_no.dimension;

 * mysql://studentuser:***@localhost/dognitiondb
11 rows affected.

[(None, Decimal('6.9416')),
 ('', Decimal('9.5352')),
 ('ace', Decimal('23.3878')),
 ('charmer', Decimal('23.2594')),
 ('einstein', Decimal('23.2171')),
 ('expert', Decimal('23.3926')),
 ('maverick', Decimal('22.8199')),
 ('protodog', Decimal('22.9336')),
 ('renaissance-dog', Decimal('23.0157')),
 ('socialite', Decimal('23.1194')),
 ('stargazer', Decimal('22.7368'))]

**Calculate the number of unique DogIDs are labeled "None" or "" in the Dognition dimension?**

In [5]:
%%sql
SELECT organized_test_no.dimension, COUNT(DISTINCT organized_test_no.dog_guid)
FROM (SELECT DISTINCT d.dog_guid, d.dimension, count(c.created_at) AS NoTest
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
WHERE d.dimension IS NULL OR d.dimension = ''
GROUP BY d.dog_guid) AS organized_test_no
GROUP BY organized_test_no.dimension;

 * mysql://studentuser:***@localhost/dognitiondb
2 rows affected.

[(None, 13705), ('', 71)]

It makes sense there would be many dogs with NULL values in the dimension column, because we learned from Dognition that personality dimensions can only be assigned after the initial "Dognition Assessment" is completed, which is comprised of the first 20 Dognition tests.  If dogs did not complete the first 20 tests, they would retain a NULL value in the dimension column.

The non-NULL empty string values are more curious.  It is not clear where those values would come from.  

**Find the breed, weight, value in the "exclude" column, first time stamp in the complete_tests table, last time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a non-NULL empty string in the dimension column.**

In [6]:
%%sql
SELECT d.breed, d.weight, d.exclude, MIN(c.created_at) AS first_test, MAX(c.created_at) AS last_test, COUNT(c.created_at)
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
WHERE d.dimension = ''
GROUP BY d.dog_guid;

 * mysql://studentuser:***@localhost/dognitiondb
71 rows affected.

[('Golden Retriever', 30, 0, datetime.datetime(2013, 5, 23, 7, 6, 21), datetime.datetime(2013, 7, 2, 12, 15, 18), 17),
 ('Dachshund', 10, 1, datetime.datetime(2014, 10, 21, 18, 53, 2), datetime.datetime(2014, 10, 21, 19, 10, 7), 3),
 ('Border Collie-Labrador Retriever Mix', 50, 0, datetime.datetime(2013, 11, 16, 2, 26, 15), datetime.datetime(2013, 11, 16, 2, 38, 57), 4),
 ('Belgian Tervuren', 70, 1, datetime.datetime(2014, 11, 10, 21, 21, 6), datetime.datetime(2014, 12, 16, 1, 13, 28), 13),
 ('Pembroke Welsh Corgi', 20, 1, datetime.datetime(2014, 9, 19, 17, 42, 37), datetime.datetime(2014, 9, 22, 17, 58, 25), 4),
 ('Chihuahua', 0, 1, datetime.datetime(2014, 10, 6, 0, 57, 46), datetime.datetime(2014, 10, 9, 22, 55, 51), 2),
 ('Australian Shepherd', 50, 1, datetime.datetime(2014, 10, 6, 1, 54, 49), datetime.datetime(2014, 10, 30, 2, 16, 12), 14),
 ('Mixed', 60, 1, datetime.datetime(2014, 10, 10, 1, 1, 21), datetime.datetime(2014, 10, 10, 12, 33, 52), 4),
 ('Portuguese Water Dog', 60, 1, datetime.datetime(2014, 10, 10, 13, 22, 58), datetime.datetime(2014, 10, 10, 13, 36, 17), 3),
 ('Labrador Retriever', 50, 1, datetime.datetime(2014, 10, 6, 15, 28, 42), datetime.datetime(2014, 10, 23, 20, 24, 20), 7),
 ('Golden Retriever', 70, 1, datetime.datetime(2014, 10, 6, 17, 27, 41), datetime.datetime(2014, 12, 10, 1, 35, 43), 14),
 ('Poodle', 50, 1, datetime.datetime(2014, 10, 9, 5, 29, 7), datetime.datetime(2014, 11, 3, 3, 10, 19), 16),
 ('Other', 30, 1, datetime.datetime(2014, 10, 21, 2, 5, 28), datetime.datetime(2014, 10, 21, 2, 12, 10), 2),
 ('Labrador Retriever', 70, 1, datetime.datetime(2014, 10, 7, 2, 4, 42), datetime.datetime(2014, 10, 23, 2, 6, 2), 10),
 ('West Highland White Terrier', 10, 1, datetime.datetime(2014, 10, 7, 13, 7, 18), datetime.datetime(2014, 10, 11, 21, 57, 57), 19),
 ('Brittany', 30, 1, datetime.datetime(2014, 10, 12, 18, 9), datetime.datetime(2015, 1, 4, 20, 38, 26), 11),
 ('German Shepherd Dog', 50, 1, datetime.datetime(2014, 10, 7, 16, 58, 19), datetime.datetime(2014, 10, 8, 15, 56, 42), 4),
 ('Miniature Schnauzer', 10, 1, datetime.datetime(2014, 10, 16, 20, 42, 50), datetime.datetime(2014, 10, 21, 17, 29, 14), 6),
 ('Shih Tzu-Bichon Frise Mix', 10, 1, datetime.datetime(2014, 10, 8, 22, 48, 34), datetime.datetime(2015, 3, 8, 18, 33, 37), 17),
 ('Mixed', 30, 1, datetime.datetime(2014, 10, 18, 14, 0, 16), datetime.datetime(2014, 10, 25, 14, 18, 48), 16),
 ('Shih Tzu', 10, 1, datetime.datetime(2014, 10, 9, 1, 18, 26), datetime.datetime(2014, 11, 11, 1, 39, 17), 19),
 ('Mixed', 60, 1, datetime.datetime(2014, 10, 16, 11, 5, 12), datetime.datetime(2014, 10, 25, 13, 47, 46), 12),
 ('Collie-Golden Retriever Mix', 40, 1, datetime.datetime(2014, 10, 8, 18, 57, 6), datetime.datetime(2014, 10, 10, 20, 22, 20), 15),
 ('Mixed', 40, 1, datetime.datetime(2014, 10, 10, 11, 51, 24), datetime.datetime(2014, 12, 1, 13, 41, 37), 19),
 ('Shih Tzu', 190, 1, datetime.datetime(2014, 10, 9, 17, 42, 21), datetime.datetime(2014, 10, 9, 17, 48, 4), 5),
 ('Bichon Frise-Poodle Mix', 10, 1, datetime.datetime(2014, 10, 18, 22, 55, 21), datetime.datetime(2014, 12, 2, 23, 8, 20), 12),
 ('Mixed', 30, 1, datetime.datetime(2014, 10, 13, 23, 45, 26), datetime.datetime(2015, 4, 3, 10, 58, 59), 8),
 ('Australian Shepherd-Australian Cattle Dog Mix', 40, 1, datetime.datetime(2014, 10, 12, 6, 24, 53), datetime.datetime(2014, 10, 24, 7, 47, 32), 7),
 ('Shih Tzu', 10, 1, datetime.datetime(2014, 10, 11, 18, 27, 25), datetime.datetime(2014, 10, 11, 19, 33, 14), 7),
 ('Norwegian Elkhound', 50, 1, datetime.datetime(2014, 10, 11, 18, 52, 21), datetime.datetime(2014, 10, 19, 21, 52, 3), 11),
 ('Golden Doodle', 50, 1, datetime.datetime(2014, 10, 12, 16, 7, 21), datetime.datetime(2014, 11, 1, 17, 20, 7), 16),
 ('Miniature Schnauzer', 10, 1, datetime.datetime(2014, 10, 12, 18, 0, 27), datetime.datetime(2014, 10, 22, 23, 46, 24), 12),
 ('Chow Chow-Labrador Retriever Mix', 160, 1, datetime.datetime(2014, 10, 12, 23, 37, 23), datetime.datetime(2014, 10, 16, 15, 41, 43), 7),
 ('Golden Retriever', 50, 1, datetime.datetime(2014, 10, 13, 15, 30, 26), datetime.datetime(2014, 10, 15, 4, 23, 56), 7),
 ('Mixed', 0, 1, datetime.datetime(2014, 10, 16, 13, 52, 40), datetime.datetime(2014, 12, 19, 21, 29, 15), 7),
 ('Karelian Bear Dog', 10, 0, datetime.datetime(2014, 11, 7, 13, 4, 1), datetime.datetime(2015, 7, 11, 16, 58, 35), 6),
 ('Shetland Sheepdog', 10, 1, datetime.datetime(2014, 10, 16, 16, 53, 38), datetime.datetime(2014, 10, 18, 17, 21, 41), 16),
 ('Brittany', 40, 1, datetime.datetime(2014, 11, 10, 21, 57, 8), datetime.datetime(2015, 5, 3, 22, 24, 56), 16),
 ('Flat-Coated Retriever', 60, 1, datetime.datetime(2014, 10, 17, 3, 59, 18), datetime.datetime(2014, 10, 18, 14, 6, 50), 12),
 ('American Staffordshire Terrier', 60, 1, datetime.datetime(2014, 10, 21, 0, 17, 3), datetime.datetime(2014, 11, 29, 17, 35, 30), 17),
 ('Rottweiler', 30, 1, datetime.datetime(2014, 10, 19, 18, 52, 8), datetime.datetime(2014, 10, 20, 23, 4, 14), 8),
 ('Shih Tzu', 190, 1, datetime.datetime(2014, 10, 21, 19, 24, 18), datetime.datetime(2014, 10, 21, 19, 37, 54), 9),
 ('Ibizan Hound-Greyhound Mix', 50, 1, datetime.datetime(2014, 10, 27, 21, 24, 56), datetime.datetime(2014, 11, 9, 21, 32, 19), 13),
 ('Mixed', 40, 1, datetime.datetime(2014, 10, 26, 18, 47, 56), datetime.datetime(2015, 5, 11, 21, 5, 1), 15),
 ('German Shepherd Dog', 90, 1, datetime.datetime(2014, 11, 1, 8, 54, 40), datetime.datetime(2015, 2, 5, 4, 59, 26), 7),
 ('German Shepherd Dog', 100, 1, datetime.datetime(2015, 1, 29, 3, 23, 32), datetime.datetime(2015, 2, 10, 3, 14, 8), 11),
 ('Mixed', 30, 1, datetime.datetime(2014, 11, 10, 0, 12, 10), datetime.datetime(2014, 11, 23, 21, 48, 17), 3),
 ('American Staffordshire Terrier-Whippet Mix', 40, 1, datetime.datetime(2014, 11, 12, 2, 11, 45), datetime.datetime(2014, 11, 20, 16, 36, 38), 4),
 ('Australian Shepherd-Border Collie Mix', 30, 1, datetime.datetime(2014, 11, 16, 0, 29, 35), datetime.datetime(2014, 12, 3, 20, 44, 14), 4),
 ('Mixed', 60, 1, datetime.datetime(2014, 11, 27, 16, 58, 49), datetime.datetime(2014, 11, 27, 17, 6, 1), 3),
 ('Rottweiler-Labrador Retriever Mix', 80, 1, datetime.datetime(2014, 11, 27, 2, 0, 54), datetime.datetime(2014, 11, 27, 17, 3, 25), 4),
 ('Australian Shepherd', 40, 1, datetime.datetime(2014, 11, 30, 4, 58, 36), datetime.datetime(2014, 12, 10, 16, 33, 40), 11),
 ('Redbone Coonhound', 60, 1, datetime.datetime(2014, 11, 30, 23, 17, 20), datetime.datetime(2014, 12, 1, 22, 47, 3), 4),
 ('Border Collie', 40, 1, datetime.datetime(2014, 12, 1, 13, 15, 43), datetime.datetime(2014, 12, 1, 13, 32, 40), 4),
 ('Shih Tzu', 20, 1, datetime.datetime(2015, 2, 16, 20, 0, 4), datetime.datetime(2015, 2, 19, 6, 10, 30), 4),
 ('Shetland Sheepdog', 30, 0, datetime.datetime(2015, 4, 11, 17, 42, 12), datetime.datetime(2015, 5, 6, 14, 18, 3), 18),
 ('Mixed', 10, 0, datetime.datetime(2015, 5, 20, 23, 19, 5), datetime.datetime(2015, 7, 12, 17, 35, 11), 15),
 ('Doberman Pinscher-Rottweiler Mix', 70, 1, datetime.datetime(2015, 5, 26, 16, 7, 21), datetime.datetime(2015, 5, 26, 16, 7, 21), 1),
 ('English Springer Spaniel', 40, 1, datetime.datetime(2015, 5, 16, 21, 24, 4), datetime.datetime(2015, 5, 16, 22, 13, 23), 12),
 ("I Don't Know", 0, 0, datetime.datetime(2015, 5, 19, 23, 28, 44), datetime.datetime(2015, 5, 20, 2, 34, 48), 16),
 ('Mixed', 100, 1, datetime.datetime(2015, 7, 1, 17, 17, 51), datetime.datetime(2015, 7, 1, 18, 2, 26), 14),
 ('Labrador Retriever-Poodle Mix', 70, 1, datetime.datetime(2015, 5, 29, 13, 45, 39), datetime.datetime(2015, 5, 29, 16, 3, 43), 6),
 ('Italian Greyhound-Miniature Pinscher Mix', 0, 0, datetime.datetime(2015, 6, 2, 22, 44, 2), datetime.datetime(2015, 6, 15, 19, 38, 53), 14),
 ('Mixed', 50, 1, datetime.datetime(2015, 6, 14, 1, 50, 27), datetime.datetime(2015, 6, 14, 1, 53, 58), 4),
 ("I Don't Know", 30, 1, datetime.datetime(2015, 6, 28, 17, 43, 10), datetime.datetime(2015, 7, 17, 23, 42, 10), 14),
 ('Mixed', 40, 1, datetime.datetime(2015, 6, 16, 23, 47, 21), datetime.datetime(2015, 6, 18, 23, 28, 35), 3),
 ('Australian Labradoodle', 20, 1, datetime.datetime(2015, 7, 7, 3, 18, 50), datetime.datetime(2015, 7, 7, 3, 51, 1), 11),
 ('Mixed', 30, 0, datetime.datetime(2015, 6, 16, 23, 58, 36), datetime.datetime(2015, 6, 25, 23, 21, 39), 7),
 ('Golden Doodle', 20, 1, datetime.datetime(2015, 6, 20, 14, 43, 54), datetime.datetime(2015, 8, 11, 3, 32, 16), 13),
 ('Bichon Frise', 10, 1, datetime.datetime(2015, 6, 24, 14, 40, 3), datetime.datetime(2015, 6, 24, 14, 50, 17), 6),
 ("I Don't Know", 20, 0, datetime.datetime(2015, 10, 3, 18, 22, 6), datetime.datetime(2015, 10, 3, 18, 28, 19), 2)]

A quick inspection of the output from the last query illustrates that almost all of the entries that have non-NULL empty strings in the dimension column also have "exclude" flags of 1, meaning that the entries are meant to be excluded due to factors monitored by the Dognition team.  This provides a good argument for excluding the entire category of entries that have non-NULL empty strings in the dimension column from our analyses.

**Find the average number of tests completed by unique dogs in each Dognition personality dimension excluding DogIDs with non-NULL empty strings in the dimension column.**

In [7]:
%%sql
SELECT organized_test_no.dimension, COUNT(organized_test_no.dog_guid) AS NoOFDOgs, AVG(organized_test_no.NoTest) AS AVGNoTest
FROM (SELECT DISTINCT d.dog_guid, d.dimension, count(c.created_at) AS NoTest
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
      WHERE d.dimension != '' AND d.dimension IS NOT NULL AND (d.exclude IS NULL OR d.exclude = 0)
GROUP BY d.dog_guid) AS organized_test_no
GROUP BY organized_test_no.dimension;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.

[('ace', 402, Decimal('23.5100')),
 ('charmer', 626, Decimal('23.3594')),
 ('einstein', 109, Decimal('23.2385')),
 ('expert', 273, Decimal('23.4249')),
 ('maverick', 245, Decimal('22.7673')),
 ('protodog', 535, Decimal('22.9570')),
 ('renaissance-dog', 463, Decimal('23.0410')),
 ('socialite', 792, Decimal('23.0997')),
 ('stargazer', 310, Decimal('22.7968'))]

The results suggest there are not appreciable differences in the number of tests completed by dogs with different Dognition personality dimensions.  Although these analyses are not definitive on their own, these results suggest focusing on Dognition personality dimensions will not likely lead to significant insights about how to improve Dognition completion rates.



## 2. Assess whether dog breeds are related to the number of tests completed

We want to investigate is Dog Breed.  We will run one analysis with Breed Group and one analysis with Breed Type.

First, determine how many distinct breed groups there are.

**Find all of the distinct values in the breed_group field.**

In [8]:
%%sql
SELECT DISTINCT breed_group
FROM dogs;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.

[('Sporting',),
 ('Herding',),
 ('Toy',),
 ('Working',),
 (None,),
 ('Hound',),
 ('Non-Sporting',),
 ('Terrier',),
 ('',)]

You can see that there are NULL values in the breed_group field.  Let's examine the properties of these entries with NULL values to determine whether they should be excluded from our analysis.

**Find the breed, weight, value in the "exclude" column, first or minimum time stamp in the complete_tests table, last or maximum time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a NULL value in the breed_group column.**

In [9]:
%%sql
SELECT d.breed_group, d.breed, d.weight, d.exclude, MIN(c.created_at) AS first_test, MAX(c.created_at) AS last_test, COUNT(c.created_at)
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
WHERE d.breed_group IS NULL
GROUP BY d.breed_group;

 * mysql://studentuser:***@localhost/dognitiondb
1 rows affected.

[(None, 'Mixed', 50, None, datetime.datetime(2013, 2, 5, 18, 57, 5), datetime.datetime(2015, 10, 12, 22, 20, 32), 92169)]

There are a lot of these entries and there is no obvious feature that is common to all of them, so at present, we do not have a good reason to exclude them from our analysis.  Therefore, let's move on to question 10 now....

**Examine the relationship between breed_group and number of tests completed.  Exclude DogIDs with values of "1" in the exclude column.**

In [10]:
%%sql
SELECT organized_test_no.breed_group, COUNT(organized_test_no.dog_guid) AS NoOFDOgs, AVG(organized_test_no.NoTest) AS AVGNoTest
FROM (SELECT DISTINCT d.dog_guid, d.breed_group, count(c.created_at) AS NoTest
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
      WHERE d.exclude IS NULL OR d.exclude = 0
GROUP BY d.dog_guid) AS organized_test_no
GROUP BY organized_test_no.breed_group;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.

[(None, 8564, Decimal('10.2251')),
 ('', 179, Decimal('19.7542')),
 ('Herding', 1774, Decimal('11.2469')),
 ('Hound', 564, Decimal('10.0603')),
 ('Non-Sporting', 964, Decimal('10.0197')),
 ('Sporting', 2470, Decimal('10.9915')),
 ('Terrier', 780, Decimal('9.9333')),
 ('Toy', 1041, Decimal('8.7157')),
 ('Working', 865, Decimal('10.2358'))]

The results show there are non-NULL entries of empty strings in breed_group column again.  Ignoring them for now, Herding and Sporting breed_groups complete the most tests, while Toy breed groups complete the least tests.  This suggests that one avenue an analyst might want to explore further is whether it is worth it to target marketing or certain types of Dognition tests to dog owners with dogs in the Herding and Sporting breed_groups.  Later in this lesson we will discuss whether using a median instead of an average to summarize the number of completed tests might affect this potential course of action. 

**Only report results for Sporting, Hound, Herding, and Working breed_groups using an IN clause.**

In [11]:
%%sql
SELECT organized_test_no.breed_group, COUNT(organized_test_no.dog_guid) AS NoOFDOgs, AVG(organized_test_no.NoTest) AS AVGNoTest
FROM (SELECT DISTINCT d.dog_guid, d.breed_group, count(c.created_at) AS NoTest
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
      WHERE (d.exclude IS NULL OR d.exclude = 0)
GROUP BY d.dog_guid) AS organized_test_no
GROUP BY organized_test_no.breed_group
HAVING organized_test_no.breed_group IN ('Sporting', 'Hound', 'Herding', 'Working');

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[('Herding', 1774, Decimal('11.2469')),
 ('Hound', 564, Decimal('10.0603')),
 ('Sporting', 2470, Decimal('10.9915')),
 ('Working', 865, Decimal('10.2358'))]

Next, let's examine the relationship between breed_type and number of completed tests.  

**Find all of the distinct values in the breed_type field.**

In [12]:
%%sql
SELECT DISTINCT breed_group FROM dogs;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.

[('Sporting',),
 ('Herding',),
 ('Toy',),
 ('Working',),
 (None,),
 ('Hound',),
 ('Non-Sporting',),
 ('Terrier',),
 ('',)]

**Examine the relationship between breed_type and number of tests completed. Exclude DogIDs with values of "1" in the exclude column.**

In [13]:
%%sql
SELECT breed_type, AVG(numtests_per_dog.numtests) AS avg_tests_completed, COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_type AS breed_type,
count(c.created_at) AS numtests FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0 GROUP BY dogID) AS numtests_per_dog
GROUP BY breed_type;

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[('Cross Breed', Decimal('10.6009'), 2884),
 ("Mixed Breed/ Other/ I Don't Know", Decimal('10.2688'), 4818),
 ('Popular Hybrid', Decimal('10.8423'), 634),
 ('Pure Breed', Decimal('10.4107'), 8865)]

There does not appear to be an appreciable difference between number of tests completed by dogs of different breed types.
    
  
## 3. Assess whether dog breeds and neutering are related to the number of tests completed

To explore the results we found above a little further, let's run some queries that relabel the breed_types according to "Pure_Breed" and "Not_Pure_Breed".  

**For each unique DogID, output its dog_guid, breed_type, number of completed tests, and use a CASE statement to include an extra column with a string that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else.**

In [14]:
%%sql
SELECT d.dog_guid AS dogID, d.breed_type AS breed_type,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed' ELSE 'not_pure_breed'
END AS pure_breed, count(c.created_at) AS numtests FROM dogs d, complete_tests c WHERE d.dog_guid=c.dog_guid GROUP BY dogID
LIMIT 50

 * mysql://studentuser:***@localhost/dognitiondb
50 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 20),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 14),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 11),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 2),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 21),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', 'Popular Hybrid', 'not_pure_breed', 6),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 28),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 28),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 25),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 20),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 14),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 16),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 2),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 4),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 6),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 6),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 20),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 23),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 45),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 33),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 22),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 25),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 6),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4)]

**Examine the relationship between breed_type and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs.**

In [15]:
%%sql
SELECT numtests_per_dog.pure_breed AS pure_breed, AVG(numtests_per_dog.numtests) AS avg_tests_completed, COUNT(DISTINCT dogID) FROM( SELECT d.dog_guid AS dogID, d.breed_type AS breed_type,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed' ELSE 'not_pure_breed'
END AS pure_breed, count(c.created_at) AS numtests FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0 GROUP BY dogID) AS numtests_per_dog
GROUP BY pure_breed;

 * mysql://studentuser:***@localhost/dognitiondb
2 rows affected.

[('not_pure_breed', Decimal('10.4273'), 8336),
 ('pure_breed', Decimal('10.4107'), 8865)]

**Examine the relationship between breed_type, whether or not a dog was neutered (indicated in the dog_fixed field), and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs. There are DogIDs with null values in the dog_fixed column.**

In [16]:
%%sql
SELECT numtests_per_dog.pure_breed AS pure_breed, neutered, AVG(numtests_per_dog.numtests) AS avg_tests_completed, COUNT(DISTINCT dogID) FROM( SELECT d.dog_guid AS dogID, d.breed_group AS breed_type, d.dog_fixed AS
neutered,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed'
ELSE 'not_pure_breed'
END AS pure_breed, count(c.created_at) AS numtests FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0 GROUP BY dogID) AS numtests_per_dog
GROUP BY pure_breed, neutered;

 * mysql://studentuser:***@localhost/dognitiondb
6 rows affected.

[('not_pure_breed', None, Decimal('9.9897'), 97),
 ('not_pure_breed', 0, Decimal('8.6807'), 592),
 ('not_pure_breed', 1, Decimal('10.5681'), 7647),
 ('pure_breed', None, Decimal('8.2815'), 135),
 ('pure_breed', 0, Decimal('9.3788'), 1687),
 ('pure_breed', 1, Decimal('10.6987'), 7043)]

These results suggest that although a dog's breed_type doesn't seem to have a strong relationship with how many tests a dog completed, neutered dogs, on average, seem to finish 1-2 more tests than non-neutered dogs.  It may be fruitful to explore further whether this effect is consistent across different segments of dogs broken up according to other variables.  If the effects are consistent, the next step would be to seek evidence that could clarify whether neutered dogs are finishing more tests due to traits that arise when a dog is neutered, or instead, whether owners who are more likely to neuter their dogs have traits that make it more likely they will want to complete more tests.


## 4. Other dog features that might be related to the number of tests completed, and a note about using averages as summary metrics

Two other dog features can be investigated are speed of game completion and previous behavioral training.  Examing the relationship between the speed of game completion and number of games completed is best achieved through creating a scatter plot with a best fit line and/or running a statistical regression analysis.  It is possible to achieve the statistical regression analysis through very advanced SQL queries, but the strategy that would be required is outside the scope of this course.  Therefore, I would recommend exporting relevant data to a program like Tableau, R, or Matlab in order to assess the relationship between the speed of game completion and number of games completed.  

Unfortunately, there is no field available in the Dognition data that is relevant to a dog's previous behavioral training, so more data would need to be collected to examine whether previous behavioral training is related to the number of Dognition tests completed.

**Find the average number of tests completed by unique dogs in each Dognition personality dimension excluding DogIDs with (1) non-NULL empty strings in the dimension column, (2) NULL values in the dimension column, and (3) values of "1" in the exclude column and include a column with the standard deviation for the number of tests completed by each Dognition personality dimension.**

In [17]:
%%sql
SELECT dimension, AVG(numtests) AS avg_tests_completed, COUNT(DISTINCT dogID),
STDDEV(numtests)
FROM( SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at)
AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE (dimension IS NOT NULL AND dimension!='') AND (d.exclude IS NULL
OR d.exclude=0)
GROUP BY dogID) AS numtests_per_dog
GROUP BY numtests_per_dog.dimension;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.

[('ace', Decimal('23.5100'), 402, 5.489578593285021),
 ('charmer', Decimal('23.3594'), 626, 5.191866549087365),
 ('einstein', Decimal('23.2385'), 109, 5.315545977410013),
 ('expert', Decimal('23.4249'), 273, 4.758917067808669),
 ('maverick', Decimal('22.7673'), 245, 4.7353377465088),
 ('protodog', Decimal('22.9570'), 535, 5.37422217192253),
 ('renaissance-dog', Decimal('23.0410'), 463, 4.950777215501494),
 ('socialite', Decimal('23.0997'), 792, 4.9748255070022145),
 ('stargazer', Decimal('22.7968'), 310, 4.825402130724961)]

The standard deviations are all around 20-25% of the average values of each personality dimension, and they are not appreciably different across the personality dimensions, so the average values are likely fairly trustworthy.  Let's try calculating the standard deviation of a different measurement.

**Calculates the average amount of time it took each dog breed_type to complete all of the tests in the exam_answers table. Exclude negative durations from the calculation, and include a column that calculates the standard deviation of durations for each breed_type group:**

In [18]:
%%sql
SELECT d.breed_type AS breed_type, AVG(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS AvgDuration, STDDEV(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS StdDevDuration FROM dogs d JOIN exam_answers e
ON d.dog_guid=e.dog_guid
WHERE TIMESTAMPDIFF(minute,e.start_time,e.end_time)>0 
GROUP BY breed_type;

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[('Cross Breed', Decimal('11810.3230'), 59113.45580229881),
 ("Mixed Breed/ Other/ I Don't Know", Decimal('9145.1575'), 48748.626840777506),
 ('Popular Hybrid', Decimal('7734.0763'), 45577.65824281632),
 ('Pure Breed', Decimal('12311.2558'), 60997.35425304078)]